<mat-toolbar class="toolbar">
  <div class="left">
    <mat-form-field appearance="outline">
      <mat-label>From</mat-label>
      <input matInput [matDatepicker]="fromPicker" [(ngModel)]="fromDate" />
      <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
      <mat-datepicker #fromPicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>To</mat-label>
      <input matInput [matDatepicker]="toPicker" [(ngModel)]="toDate" />
      <mat-datepicker-toggle matSuffix [for]="toPicker"></mat-datepicker-toggle>
      <mat-datepicker #toPicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Manager</mat-label>
      <mat-select [(ngModel)]="managerId">
        <mat-option *ngFor="let m of managers" [value]="m.id">{{ m.name }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-radio-group [(ngModel)]="groupMode" class="mode-group">
      <mat-radio-button value="symbol">Symbol wise</mat-radio-button>
      <mat-radio-button value="login">Login wise</mat-radio-button>
    </mat-radio-group>
    <button mat-flat-button color="primary" (click)="show()">Show</button>
  </div>
  <div class="right">
    <mat-form-field appearance="outline">
      <mat-label>Search</mat-label>
      <input matInput (input)="onFilterTextBoxChanged($event)" />
    </mat-form-field>
    <button mat-icon-button title="Export CSV" (click)="exportCsv()">
      <mat-icon>table_view</mat-icon>
    </button>
  </div>
</mat-toolbar>
<div class="grid-wrapper">
  <ag-grid-angular
    class="ag-theme-alpine full-grid"
    [gridOptions]="gridOptions"
    (gridReady)="onGridReady($event)"
  ></ag-grid-angular>
</div>
