:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.grid-wrapper {
  flex: 1 1 auto;
  min-height: 0;
  display: flex;
  height: 500px;
  width: 100%;
}

.full-grid {
  flex: 1 1 auto;
  width: 100%;
  height: 100%;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.right input {
  padding: 0.25rem 0.5rem;
  width: 250px;
}

.right {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.icon-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0;
}

:host ::ng-deep .ag-theme-alpine {
  --ag-odd-row-background-color: transparent;
}
