<mat-sidenav-container>
    <div fxLayout="row" fxLayoutAlign="center center" class="login-wrapper h-100">  
        <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" fxFlex="80" fxFlex.gt-sm="30" fxFlex.sm="60" class="mat-elevation-z24">
            <mat-card class="p-0 box">
                <div fxLayout="column" fxLayoutAlign="center center" class="login-header box-header">
                    <!-- <button mat-fab color="accent" class="mat-elevation-z12" (click)="onSubmit(form.value);">
                        <mat-icon>exit_to_app</mat-icon>
                    </button> -->
                    <!-- <button mat-raised-button color="primary" class="small-logo">S</button> -->
                    <span class="app-name">Welcome to Trade Tally</span>
                    <p>Please login to your account</p>
                </div>
                <mat-card-content fxLayout="column" fxLayoutAlign="end center" class="box-content">
                    <mat-card fxLayout="column" fxLayoutAlign="center center" class="mat-elevation-z12 box-content-inner">
                        <!-- <span class="box-content-header">member login</span>   -->
                        <label>User Name</label>
                        <mat-form-field class="w-100" appearance="outline">
                            <input matInput placeholder="Name" formControlName="name">
                            <mat-error>
                                @if (form.controls.name.errors?.required) {
                                    Name is required
                                }
                            </mat-error> 
                        </mat-form-field>
                        <label class="mt-2">Password</label>
                        <mat-form-field class="w-100" appearance="outline">
                            <input [type]="hide ? 'password' : 'text'" matInput placeholder="Password" formControlName="password">
                            <button mat-icon-button matSuffix type="button" (click)="hide = !hide" color="primary">
                                <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
                            </button>
                            <mat-error>
                                @if (form.controls.password.errors?.required) {
                                    Password is required
                                }
                                @if (form.controls.password.hasError('minlength')) {
                                    Password isn't long enough, minimum of 6 characters
                                }
                            </mat-error>
                        </mat-form-field>
                    </mat-card>
                    <button mat-raised-button color="primary" class="mat-elevation-z12 box-button mt-3" type="submit">SIGN IN</button>
                </mat-card-content>
            </mat-card>
        </form> 
    </div>  
</mat-sidenav-container>
