<div fxLayout="row" fxLayoutAlign="end center">
    <div fxFlex="100" fxFlex.gt-sm="100" fxFlex.sm="100" fxLayout="row" fxLayoutAlign="end center">
        <div class="filter-control">
            <mat-form-field appearance="outline">
                <mat-label>Filter Search Result</mat-label>
                <input matInput id="filter-text-box" placeholder="Filter Search Result" (input)="onFilteredChanged()"> 
                <mat-icon class="search-ico">search</mat-icon>    
            </mat-form-field>   
        </div>
        <div class="btn-block">
            <button class="export-btn" (click)="downloadAsPDF()">
                <img src="img/pdf.png" alt="" />
            </button>
            <button class="export-btn" (click)="onBtnExport()">
                <img src="img/csv.png" alt="" />
            </button>
        </div>
    </div>
</div>
<div class="row">    
    <div class="col-xl-12 mt-2">
        <ag-grid-angular style="width: 100%;
            height: calc(100vh - 15rem)"
            class="ag-theme-alpine"
            [rowData]="itemMasterList"
            [pagination]="true"
            [rowHeight]="31"
            [columnDefs]="columnDefs"
            [defaultColDef]="agGridOptions.defaultColDef"
            (cellClicked)="onGridClick($event)"
            (gridReady)="onGridReady($event)">
        </ag-grid-angular>
    </div>
</div>