<div class="toolbar">
  <div class="left">
    <mat-form-field appearance="outline">
      <mat-label>From</mat-label>
      <input matInput [matDatepicker]="fromPicker" [(ngModel)]="fromDate" />
      <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
      <mat-datepicker #fromPicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>To</mat-label>
      <input matInput [matDatepicker]="toPicker" [(ngModel)]="toDate" />
      <mat-datepicker-toggle matSuffix [for]="toPicker"></mat-datepicker-toggle>
      <mat-datepicker #toPicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="outline" class="drop-down">
      <mat-label>Login</mat-label>
      <mat-select
        [(ngModel)]="login"
        (openedChange)="onLoginDropdownOpen($event)"
      >
        <mat-option class="search-option" disabled>
          <mat-form-field
            appearance="outline"
            class="login-search-field"
            (click)="$event.stopPropagation()"
          >
            <mat-icon matPrefix>search</mat-icon>
            <input
              matInput
              #loginSearch
              placeholder="Search logins"
              autocomplete="off"
              [ngModel]="loginFilter"
              (ngModelChange)="filterLogins($event)"
              (click)="$event.stopPropagation()"
              (keydown)="$event.stopPropagation()"
              (keyup)="$event.stopPropagation()"
            />
          </mat-form-field>
        </mat-option>
        <mat-option [value]="null">-- Clear Selection --</mat-option>
        <mat-option *ngFor="let l of filteredLogins" [value]="l.login">
          {{ l.login }} - {{ l.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="show()">Show</button>
  </div>
  <div class="right">
    <span>Rows: {{ rowCount }}</span>
    <mat-form-field appearance="outline">
      <mat-label>Search</mat-label>
      <input matInput (input)="onFilterTextBoxChanged($event)" />
    </mat-form-field>
    <button mat-icon-button title="Export CSV" (click)="exportCsv()">
      <mat-icon>table_view</mat-icon>
    </button>
  </div>
</div>
<div class="grid-wrapper">
  <ag-grid-angular
    class="ag-theme-alpine full-grid"
    [gridOptions]="gridOptions"
    (gridReady)="onGridReady($event)"
  ></ag-grid-angular>
</div>

