<div class="options">
  <div fxLayout="row" fxLayoutAlign="start center" class="top-row">
    <div class="status-filter">
      <mat-form-field appearance="outline">
        <mat-label>Status</mat-label>
        <mat-select [(ngModel)]="selectedStatus" (selectionChange)="onStatusChange()">
          <mat-option *ngFor="let status of statusOptions" [value]="status">{{status}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <span fxFlex></span>
    <div class="filter-control">
      <mat-form-field appearance="outline">
        <mat-label>Filter Search Result</mat-label>
        <input matInput id="filter-text-box" placeholder="Filter Search Result" (input)="onFilteredChanged()" />
        <mat-icon class="search-ico">search</mat-icon>
      </mat-form-field>
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="end center" class="bottom-row">
    <div class="btn-block">
      <button class="export-btn" (click)="downloadAsPDF()">
        <img src="img/pdf.png" alt="" />
      </button>
      <button class="export-btn" (click)="onBtnExport()">
        <img src="img/csv.png" alt="" />
      </button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xl-12 mt-2">
    <ag-grid-angular
      style="width: 100%; height: calc(100vh - 15rem)"
      class="ag-theme-alpine"
      [rowData]="accountList"
      [pagination]="true"
      [rowHeight]="31"
      [columnDefs]="columnDefs"
      [defaultColDef]="agGridOptions.defaultColDef"
      (cellClicked)="onGridClick($event)"
      (gridReady)="onGridReady($event)"
    ></ag-grid-angular>
  </div>
</div>
