@import "../node_modules/roboto-fontface/css/roboto/roboto-fontface.css"; 

// for npm material-icons package (to load local files)
// $material-icons-font-path: 'material-icons/iconfont/variables.scss'; 
// @import '../node_modules/material-icons/iconfont/material-icons.scss';

@import url('https://cdn.quilljs.com/1.2.2/quill.snow.css');
@import url('https://cdn.quilljs.com/1.2.2/quill.bubble.css');

// switch to a dark material theme similar to MaterialPro
@import '@angular/material/prebuilt-themes/pink-bluegrey.css';

@import "../node_modules/angular-calendar/css/angular-calendar.css";
@import "../node_modules/dragula/dist/dragula.min.css";
@import "../node_modules/@swimlane/ngx-datatable/themes/material.css";
@import "../node_modules/@swimlane/ngx-datatable/assets/icons.css";
@import "../node_modules/leaflet/dist/leaflet.css";

@import "app/theme/styles/base";
@import "app/theme/styles/spaces";
@import "app/theme/styles/theme";
@import "app/theme/styles/libs-override";
@import "app/theme/styles/rtl";

html, body {
  height: 100%;
  overflow: hidden;
}

.options-icon {
    display: none !important;
}
.delete-icon {
    color: #dc3545;
    position: absolute;
    top: 7px;
    right: 10px;
    z-index: 1;
}
.action-button-edit, .action-button-red {
    background: transparent;
    border: none;
    margin-right: 7px;
    color: #ffb80a;
    font-size: 20px;
    line-height: 30px;
    cursor: pointer;
}
.action-button-red {
    color: #dc3545;
}
#main-content {
    padding: 1rem;
}
.filter-control {
    gap: 1rem;
    align-items: center;
    display: flex;
    margin-right: 1rem;
    .mat-mdc-text-field-wrapper {
        height: 2.75rem;
        padding: 0 0.75rem;
        .mat-mdc-form-field-flex {
            .mat-mdc-floating-label {
                top: calc(44px / 2);
                &.mdc-floating-label--float-above {
                    top: 1.875rem;
                }
            }
            .mat-mdc-form-field-infix {
                width: 15rem;
                min-height: 2.75rem;
                padding: 0.5rem 0;
                display: flex;
                .search-ico {
                    margin-top: 0.125rem;
                }
            }
        }
    }
    .mat-mdc-form-field-subscript-wrapper {
        display: none;
    }
}

.sidenav-content-inner {
    app-ledger-report, app-standing-statement-report, app-trail-balance, app-live-bill-summary-report {
        height: calc(100% - 4rem);
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }
}

.ledger-report, .standing-report, .trail-balance-report {
    .date-picker {
        .mat-mdc-form-field-infix {
            width: 7.5rem;
        }
    }
}

.sidenav-content-inner {
    .mat-mdc-text-field-wrapper {
        height: 2.75rem;
        padding: 0 0.75rem;
        .mat-mdc-form-field-flex {
            .mat-mdc-floating-label {
                top: calc(44px / 2);
                &.mdc-floating-label--float-above {
                    top: 1.875rem;
                }
            }
            .mat-mdc-form-field-infix {
                min-height: 2.75rem;
                padding: 0.5rem 0;
                display: flex;
                .search-ico {
                    margin-top: 0.125rem;
                }
                .mat-mdc-select-trigger {
                    .mat-mdc-select-value {
                        line-height: 1.75rem;
                    }
                }
            }
        }
    }
}

.bill-summary {
    .w-100 {
        width: 100%;
    }
    .branch-field {
        .mat-primary {
            width: 100%;
        }
    }
    .mat-mdc-form-field-type-mat-date-range-input {
        .mat-mdc-form-field-infix {
            width: auto;
            .mdc-text-field__input {
                line-height: 1.75rem;
            }
        }
    }
    .mat-mdc-form-field-hint-wrapper {
        padding-left: 0;
        .mat-mdc-form-field-hint {
            font-size: 0.6875rem;
        }
    }
}

.ledger-report, .standing-report, .trail-balance-report {
    .mat-mdc-form-field-hint-wrapper {
        padding-left: 0;
    }
}


.bill-summary-table {
    width: 100%;
    .ag-header, .ag-header-viewport, .ag-header-container {
        width: 100%;
        font-size: 0.875rem;
        font-family: $font-family;
    }
    .ag-full-width-container {
        .ag-row-position-absolute {
            background: #f7f7f7;
            line-height: 1.9375rem;
            padding: 0 1rem;
            font-weight: 600;
        }
    }
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
  -webkit-text-fill-color: #000 !important;
}
.login-wrapper {
  background: url(../public/img/wave.png) no-repeat center center #f1f2f6;
  background-size: 100%;
  .box-header {
    height: auto;
    padding: 40px 0;
  }
  .login-header {
    // background: linear-gradient(135deg, #7f7fd5 0%, #86a8e7 50%, #91eae4 100%);
    background: #FFF;
    .app-name {
        color: #4e4e4e;
        font-size: 20px;
        font-weight: 600;
    }
    p {
        color: #7d7d7d;
        font-size: 13px;
        margin-top: 4px;
        font-weight: 400;
    }
  }
  .mat-mdc-card-content {
    &.box-content {
      background: #fff;
      height: auto;
      padding: 0 24px 40px 24px;
      .box-content-inner {
        background: transparent;
        width: 100%;
        position: relative;
        top: 0;
        left: 0;
        box-shadow: none;
        align-items: flex-start !important;
        label {
          color: #7d7d7d;
          font-size: 13px;
          margin-bottom: 4px;
          font-weight: 400;
        }
        .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mat-mdc-notch-piece {
            color: #000;
            border-color: #7d7d7d;
        }
        .mat-mdc-form-field-error-wrapper {
            padding-left: 0;
        }
        .mat-icon {
            color: #7d7d7d;
        }
      }
    }
  }
}

.mdc-text-field--no-label:not(.mdc-text-field--textarea) .mat-mdc-form-field-input-control.mdc-text-field__input, .mat-mdc-text-field-wrapper .mat-mdc-form-field-input-control {
    color: #000;
}